@model OAuth2._0.Controllers.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure oAuth 2.0</h1>
    <p> <a href="@Model.AzureB2CUrl" target="_blank">Link</a>.</p>
</div>
